@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:hover);

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@theme {
  /* colors */
  --color-brand-purple: #756aee;
  --color-brand-white: #ffffff;
  --color-brand-black: #151515;
  --color-brand-gray: #969696;

  /* font family */
  --font-poppins: var(--font-poppins);

  /* font sizes */
  --text-fs-900: 6.875rem;
  --text-fs-800: 4.5rem;
  --text-fs-700: 2.625rem;
  --text-fs-600: 2.25rem;
  --text-fs-500: 2rem;
  --text-fs-400: 1.125rem;
  --text-fs-300: 1rem;
  --text-fs-200: 0.875rem;

  /* screens */
  --breakpoint-lg: 60rem;
  --breakpoint-md: 47.5rem;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-screen bg-brand-white text-brand-black leading-normal tracking-normal overflow-x-hidden text-fs-200 font-poppins;
  }
}

@utility segment-bg-md {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='160' preserveAspectRatio='none' viewBox='0 0 1440 160'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3165%26quot%3b)' fill='none'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3167%26quot%3b)'%3e%3cpath d='M1016 88L1000 104L984 104L968 104L952 104L936 104M1208 88L1192 104L1176 104M1032 88L1016 104L1000 120M1128 88L1112 104L1096 104L1080 104L1064 104L1048 104L1032 104L1016 120L1000 136L984 136L968 136L952 136L936 136M920 88L904 104M1240 88L1224 104L1208 104L1192 120L1176 136M1256 88L1240 104L1224 120L1208 120L1192 136M904 88L888 88M888 72L872 56L856 56L840 56L824 56L808 56M1464 88L1448 88L1432 88L1416 88L1400 88L1384 88L1368 88L1352 88L1336 88L1320 88L1304 88L1288 88L1272 88L1256 88L1240 88L1224 88L1208 88L1192 88L1176 88L1160 88L1144 88L1128 88L1112 88L1096 88L1080 88L1064 88L1048 88L1032 88L1016 88L1000 88L984 88L968 88L952 88L936 88L920 88L904 88L888 72L872 72' stroke='url(%26quot%3b%23SvgjsRadialGradient3166%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M868 72 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM932 104 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM1172 104 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM996 120 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM932 136 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM900 104 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM1172 136 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM1188 136 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM884 88 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM804 56 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0z' fill='url(%26quot%3b%23SvgjsRadialGradient3166%26quot%3b)'%3e%3c/path%3e%3cpath d='M936 72L920 56L904 56L888 56L872 40L856 40L840 40L824 40M1080 72L1064 56L1048 56L1032 56L1016 56M1112 72L1096 56L1080 56M968 72L952 56L936 56L920 40L904 40L888 40M984 72L968 56L952 40L936 40M1464 72L1448 72L1432 72L1416 72L1400 72L1384 72L1368 72L1352 72L1336 72L1320 72L1304 72L1288 72L1272 72L1256 72L1240 72L1224 72L1208 72L1192 72L1176 72L1160 72L1144 72L1128 72L1112 72L1096 72L1080 72L1064 72L1048 72L1032 72L1016 72L1000 72L984 72L968 72L952 72L936 72L920 72' stroke='url(%26quot%3b%23SvgjsRadialGradient3166%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M916 72 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM820 40 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM1012 56 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM1076 56 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM884 40 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM932 40 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0z' fill='url(%26quot%3b%23SvgjsRadialGradient3166%26quot%3b)'%3e%3c/path%3e%3cpath d='M1448 104L1432 120L1416 120L1400 120M1368 104L1352 120L1336 120L1320 120L1304 120M1384 104L1368 120L1352 136L1336 136M1464 104L1448 104L1432 104L1416 104L1400 104L1384 104L1368 104L1352 104L1336 104L1320 104L1304 104L1288 104L1272 104L1256 120' stroke='url(%26quot%3b%23SvgjsRadialGradient3166%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M1252 120 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM1396 120 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM1300 120 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM1332 136 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0z' fill='url(%26quot%3b%23SvgjsRadialGradient3166%26quot%3b)'%3e%3c/path%3e%3cpath d='M1336 56L1320 40L1304 40L1288 40L1272 40L1256 40L1240 40M1432 56L1416 40L1400 40L1384 40L1368 40L1352 40L1336 40M1128 56L1112 56M1224 56L1208 40L1192 40L1176 40L1160 40L1144 40M1448 56L1432 40M1464 56L1448 56L1432 56L1416 56L1400 56L1384 56L1368 56L1352 56L1336 56L1320 56L1304 56L1288 56L1272 56L1256 56L1240 56L1224 56L1208 56L1192 56L1176 56L1160 56L1144 56L1128 56L1112 40L1096 40L1080 40L1064 40L1048 40L1032 40' stroke='url(%26quot%3b%23SvgjsRadialGradient3166%26quot%3b)' stroke-width='2.67'%3e%3c/path%3e%3cpath d='M1028 40 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM1236 40 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM1332 40 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM1108 56 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM1140 40 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0zM1428 40 a4 4 0 1 0 8 0 a4 4 0 1 0 -8 0z' fill='url(%26quot%3b%23SvgjsRadialGradient3166%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3165'%3e%3crect width='1440' height='160' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='1087.2' cy='80' r='361.76' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient3166'%3e%3cstop stop-color='rgba(144%2c 106%2c 238%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(117%2c 106%2c 238%2c 1)' offset='0.98'%3e%3c/stop%3e%3c/radialGradient%3e%3cmask id='SvgjsMask3167'%3e%3crect width='1440' height='160' fill='white'%3e%3c/rect%3e%3cpath d='M870 72 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM934 104 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM1174 104 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM998 120 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM934 136 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM902 104 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM1174 136 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM1190 136 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM886 88 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM806 56 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0z' fill='black'%3e%3c/path%3e%3cpath d='M918 72 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM822 40 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM1014 56 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM1078 56 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM886 40 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM934 40 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0z' fill='black'%3e%3c/path%3e%3cpath d='M1254 120 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM1398 120 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM1302 120 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM1334 136 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0z' fill='black'%3e%3c/path%3e%3cpath d='M1030 40 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM1238 40 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM1334 40 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM1110 56 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM1142 40 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0zM1430 40 a2 2 0 1 0 4 0 a2 2 0 1 0 -4 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  @apply bg-right bg-cover;
}

@utility segment-bg-sm {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='350' height='160' preserveAspectRatio='none' viewBox='0 0 350 160'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3305%26quot%3b)' fill='none'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3307%26quot%3b)'%3e%3cpath d='M371 77L357 77L343 77L329 77' stroke='url(%26quot%3b%23SvgjsRadialGradient3306%26quot%3b)' stroke-width='2.33'%3e%3c/path%3e%3cpath d='M325.5 77 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0z' fill='url(%26quot%3b%23SvgjsRadialGradient3306%26quot%3b)'%3e%3c/path%3e%3cpath d='M329 105L315 91M343 91L329 91M371 91L357 91L343 91L329 105L315 105' stroke='url(%26quot%3b%23SvgjsRadialGradient3306%26quot%3b)' stroke-width='2.33'%3e%3c/path%3e%3cpath d='M311.5 105 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM311.5 91 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM325.5 91 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0z' fill='url(%26quot%3b%23SvgjsRadialGradient3306%26quot%3b)'%3e%3c/path%3e%3cpath d='M259 63L245 77L231 77M273 63L259 77L245 91L231 91L217 91M245 63L231 49L217 49M371 63L357 63L343 63L329 63L315 63L301 63L287 63L273 63L259 63L245 63L231 63' stroke='url(%26quot%3b%23SvgjsRadialGradient3306%26quot%3b)' stroke-width='2.33'%3e%3c/path%3e%3cpath d='M227.5 63 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM227.5 77 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM213.5 91 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM213.5 49 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0z' fill='url(%26quot%3b%23SvgjsRadialGradient3306%26quot%3b)'%3e%3c/path%3e%3cpath d='M301 133L287 119L273 119M329 119L315 119L301 119L287 105L273 105M357 105L343 119L329 133M371 105L357 105L343 105L329 119L315 133L301 133L287 133L273 133' stroke='url(%26quot%3b%23SvgjsRadialGradient3306%26quot%3b)' stroke-width='2.33'%3e%3c/path%3e%3cpath d='M269.5 133 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM269.5 119 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM269.5 105 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM325.5 133 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0z' fill='url(%26quot%3b%23SvgjsRadialGradient3306%26quot%3b)'%3e%3c/path%3e%3cpath d='M287 49L273 35M357 49L343 35L329 35L315 35L301 35M371 49L357 49L343 49L329 49L315 49L301 49L287 49L273 49L259 49' stroke='url(%26quot%3b%23SvgjsRadialGradient3306%26quot%3b)' stroke-width='2.33'%3e%3c/path%3e%3cpath d='M255.5 49 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM269.5 35 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0zM297.5 35 a3.5 3.5 0 1 0 7 0 a3.5 3.5 0 1 0 -7 0z' fill='url(%26quot%3b%23SvgjsRadialGradient3306%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3305'%3e%3crect width='350' height='160' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='264.25' cy='80' r='117.27' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient3306'%3e%3cstop stop-color='rgba(144%2c 106%2c 238%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(117%2c 106%2c 238%2c 1)' offset='0.98'%3e%3c/stop%3e%3c/radialGradient%3e%3cmask id='SvgjsMask3307'%3e%3crect width='350' height='160' fill='white'%3e%3c/rect%3e%3cpath d='M327.25 77 a1.75 1.75 0 1 0 3.5 0 a1.75 1.75 0 1 0 -3.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M313.25 105 a1.75 1.75 0 1 0 3.5 0 a1.75 1.75 0 1 0 -3.5 0zM313.25 91 a1.75 1.75 0 1 0 3.5 0 a1.75 1.75 0 1 0 -3.5 0zM327.25 91 a1.75 1.75 0 1 0 3.5 0 a1.75 1.75 0 1 0 -3.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M229.25 63 a1.75 1.75 0 1 0 3.5 0 a1.75 1.75 0 1 0 -3.5 0zM229.25 77 a1.75 1.75 0 1 0 3.5 0 a1.75 1.75 0 1 0 -3.5 0zM215.25 91 a1.75 1.75 0 1 0 3.5 0 a1.75 1.75 0 1 0 -3.5 0zM215.25 49 a1.75 1.75 0 1 0 3.5 0 a1.75 1.75 0 1 0 -3.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M271.25 133 a1.75 1.75 0 1 0 3.5 0 a1.75 1.75 0 1 0 -3.5 0zM271.25 119 a1.75 1.75 0 1 0 3.5 0 a1.75 1.75 0 1 0 -3.5 0zM271.25 105 a1.75 1.75 0 1 0 3.5 0 a1.75 1.75 0 1 0 -3.5 0zM327.25 133 a1.75 1.75 0 1 0 3.5 0 a1.75 1.75 0 1 0 -3.5 0z' fill='black'%3e%3c/path%3e%3cpath d='M257.25 49 a1.75 1.75 0 1 0 3.5 0 a1.75 1.75 0 1 0 -3.5 0zM271.25 35 a1.75 1.75 0 1 0 3.5 0 a1.75 1.75 0 1 0 -3.5 0zM299.25 35 a1.75 1.75 0 1 0 3.5 0 a1.75 1.75 0 1 0 -3.5 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  @apply bg-right bg-cover;
}

@utility custom-divider {
  @apply w-[80%] h-[2px] bg-brand-purple/40 mx-auto my-3;
}

@utility form-label {
  @apply after:content-['*'] after:text-red-700;
}

@utility form-input {
  @apply min-w-full border-b border-b-brand-purple indent-2 focus-visible:ring-[3px] focus-visible:ring-brand-purple py-2 outline-none focus-visible:border-none placeholder:text-fs-200;
}
